<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
       
        <link type="text/css" rel="stylesheet" media="all" href="{{asset("./bundles/css/bootstrap.min.css")}}" />
    </head>
    <body>
    
        {% block body %}{% endblock %}
       
        <script src="{{ asset("./bundles/js/jquery-3.5.1.slim.min.js") }}" type="text/javascript"></script>
        <script src="{{ asset("./bundles/js/popper.min.js") }}" type="text/javascript"></script>
        <script src="{{ asset("./bundles/js/bootstrap.min.js") }}" type="text/javascript"></script>
       
    </body>
    
</html>
